
@{
    ViewBag.Title = "Заказ обработан";

}
<div class="container">
    <div class="completed">
        <h2>Спасибо!</h2>
        <p>Спасибо за выбор нашего магазина. В течение 10 минут с вами свяжется менеджер по телефону для подтвердждения заказа.</p>
    </div>
</div>
