@model AppleStore.Domain.Entities.Gadget

    <li>

       
            <img class="imgOnMainPage" src="@Url.Action("GetImage", "Gadget", new {Model.GadgetId})">
        
        @Html.ActionLink("Подробнее", "Details", new { gadgetId = Model.GadgetId }, new { @class = "MoreAbout" })

        <div class="descr">«@Model.Name»</div> <br>
        <span class="price">@Model.Price.ToString("# руб")</span>

        @Html.Action("HaveGadgetInCart", "Cart", new { gadgetId = Model.GadgetId })
       
    </li>
