@using AppleStore.WebUI.Models
@{
    ViewBag.Title = "iGadget Store";
}

<section>
    <div class="container">
        <div class="gadgets">
            @Html.Partial("DisplayGadgets")
        </div>

        @if ((bool)ViewBag.CanShowPageSelector)
        {
        <div class="pages">
            @Html.PageLinks((PagingInfo)ViewBag.PagingInfo, x => Url.Action("List", new { page = x }))
        </div>
        }
    </div>
</section>
