@using AppleStore.WebUI.Models
@{
    ViewBag.Title = "iGadget Store";
}

<section>
    <div class="container" style="margin-top: 25px">
        <div class="gadgets" style="width: 1090px;margin: 0 auto;">
            @Html.Partial("DisplayGadgets")
        </div>

        @if ((bool)ViewBag.CanShowPageSelector)
        {
        <div class="pages">
            @Html.PageLinks((PagingInfo)ViewBag.PagingInfo, x => Url.Action("List", new { page = x }))
        </div>
        }
    </div>
</section>
