@using AppleStore.WebUI.Models
@{
    ViewBag.Title = "iGadget Store";
}

<section>
    <div>
        <div class="container">
            <div class="gadgets" id="scrolList">
                <ul>
                    @Html.Partial("DisplayGadgets")
                </ul>
            </div>

            <div class="pages">
                @Html.PageLinks((PagingInfo)ViewBag.PagingInfo, x => Url.Action("Search", new { target = ViewBag.SearchValue, page = x }))
            </div>
        </div>
    </div>
</section>

