@using AppleStore.WebUI.Models
@{
    ViewBag.Title = "iGadget Store";
}

<section>
        <div class="container" style="margin-top: 25px">
            <div class="gadgets" id="scrolList" style="width: 1090px;margin: 0 auto;">
                <ul>
                    @Html.Partial("DisplayGadgets")
                </ul>
            </div>

            <div class="pages">
                @Html.PageLinks((PagingInfo)ViewBag.PagingInfo, x => Url.Action("Search", new { target = ViewBag.SearchValue, page = x }))
            </div>
        </div>
</section>

